<% provide(:title, "")%>
 <%# <h1>Sample App</h1>
  <p>
  This is the home page for the
  <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
 </p> %>
   <section class="jumbotron text-center">
    <div class="container">
      <h1>Training App</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      <p>
        <%= link_to 'Sign Up', signup_path, class: 'btn btn-primary btn-lg my-2'%>
        <%# <a href="#" class="btn btn-primary btn-lg my-2">Sign Up</a> %>
      </p>
    </div>
  </section>
<div class='logo'>
    <%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"),
                      "https://rubyonrails.org/" %>
</div>