 <% provide(:title, "")%>
  <%# <h1>Sample App</h1>
  <p>
  This is the home page for the
  <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
  </p> %>
  <div class="container text-center"> 
  <% if logged_in? %>
    <%= render 'static_pages/users_info' %>
  </div>

  <h1 class='text-center'>Micropost Feeds</h1>
    <%= render 'static_pages/feed_items' %>
  <% else %>
    <%= render 'static_pages/logged_in_home_page' %>
  <% end %>