<footer class="footer" >
<hr>
  <ul class="nav justify-content-center">
  <div class='logo p-0'>
    <%= link_to image_tag("rails.svg", alt: "Rails logo", width: "70"),
                      "https://rubyonrails.org/" %>
</div>
  <li class="nav-item m-2">
      <%= link_to 'About', about_path %>
  </li>
  <li class="nav-item m-2">
     <%= link_to 'Contacts', contacts_path %>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
      More
    </a>
  </li>
</ul>
</footer>