<div class="d-flex flex-column flex-md-row align-items-center p-4 px-md-4 mb-3 bg-white     
border-bottom shadow-sm"> 
  <h5 class="my-0 mr-md-auto font-weight-normal">
     <a class="p-4 text-dark" href="#"><%= link_to 'TrainingApp', root_path %></h5></a>
   <nav class="px-5 my-2 my-md-0 mr-md-3">
    <a class="p-3 text-dark" href="#"><%= link_to 'Home', root_path %></a>
    <a class="p-3 text-dark" href="#"><%= link_to 'Help', help_path %></a>
    <a class="p-3 text-dark" href="#"><%= link_to 'Contacts', contacts_path %></a>
   </nav>
</div>