<div class="d-flex flex-column flex-md-row align-items-center p-4 px-md-4 mb-3 bg-white     
border-bottom shadow-sm"> 
  <h5 class="my-0 mr-md-auto font-weight-normal">
     <a class="p-4 text-dark" href="#"><%= link_to 'TrainingApp', root_path, class:'navbar-brand' %></h5></a>
   <nav class="px-5 my-2 my-md-0 mr-md-3 d-flex">
    <%= link_to 'Home', root_path, class: 'nav-link' %>
    <%= link_to 'Help', help_path, class: 'nav-link' %>
    <%= link_to 'Contacts', contacts_path, class: 'nav-link' %>
   </nav>
</div>